html {
    background: transparent url("estrelas.png");
}
body, #intro, #containerm, html, #pageHeader {
    margin: 0;
    padding: 0;
    z-index: 0;
}

body {
    width: 890px;
    background: black;
    color: white;
    margin: 60px auto;
}

#pageHeader {
    background: transparent url("imagen1.jpg");
    background-repeat: repeat-x;
    height: 300px;
}

#pageHeader h1 {
    background: transparent url("fundo-preto-letras.png");
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6em;
}

#pageHeader h1 span, #pageHeader h2 span {
    display: none;
}

#container {
    z-index: 0;
}

#preamble h3 {
  background: transparent url(imagens/ti-iluminacao.png) no-repeat top left;
  height: 100px;
}

#preamble h3 span {
  display: none;
}

#explanation h3 {
  background: transparent url(imagens/t2-comoassim.png) no-repeat top left;
  height: 100px;
}

#explanation h3 span {
  display: none;
}

#participation h3 {
  background: transparent url(imagens/t3-participacao.png) no-repeat top left;
  height: 100px;
}

#participation h3 span {
  display: none;
}

#benefits h3 {
  background: transparent url(imagens/t4-beneficios.png) no-repeat top left;
  height: 100px;
}

#benefits h3 span {
  display: none;
}

#requirements h3 {
  background: transparent url(imagens/t5-requerimentos.png) no-repeat top left;
  height: 100px;
}

#requirements h3 span {
  display: none;
}

#extraDiv1{
	background-image: url('nave.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 50px;
	width: 890px;
	position: fixed;
	top: 0px;
}

#extraDiv2{
	background-image: url('atira.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 35px;
	width: 890px;
	position: fixed;
	bottom: 0px;
}
