@import url('http://fonts.googleapis.com/css?family=Press+Start+2P');

html {
    background: url("imagens/estrelas.png");
}

body {
	border-width: 1px;
	border-style: dashed;
	border-color: gray;
    width: 890px;
    color: white;
    margin: auto;
    margin-left: 240px;
	margin-top: 0px;
    font-family: 'Press Start 2P', sans-serif;
    line-height: 1.2em;
}

h2{
	margin: 0px;
	padding: 0px;
}

#container{
	margin: 0px;
	padding: 0px;
}

#pageHeader {
    background: transparent url("imagens/imagen1.jpg") repeat-x;
    height: 300px;
}

/* header lateral */
#pageHeader h1 {
    height: 664px;
    width: 126px;
    background: transparent url("imagens/girado_transparente.png") no-repeat center;
    position: absolute;
    left: 30px;
    padding-top: 6em;
}

/* fim header lateral */

#pageHeader h1 span, #pageHeader h2 span {
    display: none;
}

#preamble h3 span, #explanation h3 span,#participation h3 span, #benefits h3 span, #requirements h3 span {
    display: none;
}

#preamble h3 {
	margin-right: 20px;
    background: transparent url(imagens/ti-iluminacao.png) no-repeat top right;
    height: 100px;
}

#explanation h3 {
	margin-right: 20px;
    background: transparent url(imagens/t2-comoassim.png) no-repeat top left;
    height: 100px;
}

#participation h3 {
	margin-right: 20px;
    background: transparent url(imagens/t3-participacao.png) no-repeat top right;
    height: 100px;
}

#benefits h3 {
	margin-right: 20px;
    background: transparent url(imagens/t4-beneficios.png) no-repeat top left;
    height: 100px;
}

#requirements h3 {
	margin-right: 20px;
    background: transparent url(imagens/t5-requerimentos.png) no-repeat top right;
    height: 100px;
}

#quickSummary p.p2 span a{
   text-decoration: none;
   font-style: oblique;
   color: orange;
}

#supportingText, #quickSummary, #preamble {
    margin-left: 220px;
}

#linkList {
	background-color: black;
    position: absolute;
    top: 300px;
    width: 200px;
    border: 1px dashed gray;
	border-left: none;
}

#lselect, #larchives, #lresources {
    padding: 0;
}

#lselect h3, #larchives h3, #lresources h3 {
    background-color: gray;
    text-align: center;
}

#lselect ul, #larchives ul, #lresources ul {
    list-style-type: none;
    position: relative;
    right: 10px;
}

#lselect li, #larchives li, #lresources li {
    margin-top: 10px;
}

#lselect li a, #larchives li a, #lresources li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: .8em;
    font-weight: bold;
}

#lselect li a.c, #larchives li a.c, #lresources li a.c {
    text-transform: capitalize;
    font-size: .7em;
    color: #6DBF51;
}

#lselect li a:hover, #larchives li a:hover, #lresources li a:hover {
    text-decoration: underline;
}

#participation p.p1 span a{
   text-decoration: none;
   font-style: oblique;
   color: orange;
}

#participation p.p3 span a{
   text-decoration: none;
   font-style: oblique;
   color: orange;
}

#requirements p.p2 span a{
   text-decoration: none;
   font-style: oblique;
   color: orange;
}

#requirements p.p4 span a{
   text-decoration: none;
   font-style: oblique;
   color: orange;
}

#requirements p.p5 span a{
   text-decoration: none;
   font-style: oblique;
   color: orange;
}

/* nave fixa */
#extraDiv1 {
    background: url('imagens/nave.png') no-repeat right;
    height: 50px;
	width: 118px;
    position: fixed;
    top: 0;
	left: 1250px;
}

/* fim nave fixa */

/* nave de ataque fixa */
#extraDiv2 {
    background: url('imagens/atira.png') no-repeat center;
    height: 35px;
    width: 71px;
    position: fixed;
    bottom: 0;
	left: 1290px;
}

/* fim nave de ataque fixa */

/* customização dos bullets das listas */

#lselect ul li {
    list-style-image: url('imagens/20x20.png');
}

#larchives ul li {
    list-style-image: url('imagens/20x20 - amarelo.png');
}

#lresources ul li {
    list-style-image: url('imagens/20x20 - roxo.png');
}

/* fim customização dos bullets das listas */


/* Início da customização de cada link do footer */

#footer :nth-child(1){
	background: url('imagens/1.png');
}

#footer :nth-child(2){
	background: url('imagens/2.png');
}
#footer :nth-child(3){
	background: url('imagens/3.png');
}
#footer :nth-child(4){
	background: url('imagens/4.png');	
}
#footer :nth-child(5){
	background: url('imagens/5.png');

}
/* Fim da customização de cada link do footer */

/**/
#footer *{
	display: inline-block;
	width: 105px;
	height: 68px;
	font-size: 0px;
	margin: 0;
	padding: 0;	
	margin-right: -20px;
}


